# Copy this file to .env and fill in your actual API keys
# Do NOT commit the .env file to git

ROBOFLOW_API_KEY=YrLzRhmE4wM1dNcElgUo
GOOGLE_API_KEY=AIzaSyBRcbmXyUVV6Y46UHbLxY8phFPokaPQcVY
ROBOFLOW_PROJECT=solarpv-india-lczsp
ROBOFLOW_WORKSPACE=vansh-dniy3/
